[data-reach-dialog-overlay] {
  background: hsla(0, 0%, 0%, 0.33);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-reach-dialog-content] {
  max-width: 500px;
  width: calc(100% - 60px);
  margin: 10vh auto;
  padding: 40px;
  outline: none;
  background-color: #121820;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: var(--border-radius);
}

@media (max-width: 768px) {
  [data-reach-dialog-content] {
  }
}
