modules = ["go-1.21", "nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ui-desktop && yarn dev:web"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"
