/* Css reset */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Global variables */
:root {
  --border-radius: 12px;
}

/* Styles */
html {
  height: 100%;
}
body {
  height: 100%;
  background-color: #080810;
  font-family: "APK Protocol", sans-serif;
  color: #fff;
}

#root {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.page-content {
  height: 100%;
  overflow: scroll;
  padding-bottom: 30px;
}

header {
  padding: 57px 0 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 153px;
}

.header-wallet {
  width: 168px;
  height: 48px;
  border-radius: var(--border-radius);
  border-color: rgba(255, 255, 255, 0.1);
  border-width: 1px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container {
  max-width: 1090px;
  margin-left: auto;
  margin-right: auto;
}

.container-narrow {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.home-element {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  max-width: 60%;
}

.cta {
  font-size: 80px;
  color: #fff;
  font-weight: 600;
  margin: 60px 0 10px;
}

.sub-cta {
  font-size: 32px;
  font-weight: 400;
}

.cta-buttons {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.lens {
  width: 1200px;
  height: 1200px;
  left: -200px;
  top: -120px;
  position: absolute;
  background: radial-gradient(circle at 50% 50%, rgba(79, 126, 145, 0.15) 258px, transparent 550px);
  border-radius: 100%;
  z-index: -1;
}

.button {
  background-color: transparent;
  border-radius: var(--border-radius);
  border: 1px solid rgba(255, 255, 255, 0.75);
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  height: 62px;
  width: 220px;
  color: #fff;
  cursor: pointer;
}

.button-small {
  border-radius: var(--border-radius);
  min-width: 100px;
  padding: 5px;
  font-size: 15px;
  font-weight: 600;
  height: 42px;
  color: #fff;
  text-transform: uppercase;
  background-color: rgba(79, 126, 145, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.button-primary {
  background-color: rgba(76, 90, 95, 0.5);
  border: none;
}

.button-primary:disabled {
  color: rgba(255, 255, 255, 0.1);
  cursor: not-allowed;
}

.section {
  background-color: rgba(79, 126, 145, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: var(--border-radius);
  padding: 18px 32px;
}

.section-heading {
  font-size: 16px;
  font-weight: 600;
}

.separator {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin: 15px 0;
  width: 100%;
}

.pool {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  font-size: 32px;
  font-weight: 600;
}

.pool-progress {
  grid-area: 1 / 1 / 4 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pool-stats {
  grid-area: 1 / 1 / 1 / 2;
}
.rewards-balance {
  grid-area: 1 / 2 / 1 / 3;
}
.wallet-balance {
  grid-area: 1 / 3 / 1 / 4;
}
.stake-list {
  grid-area: 2 / 1 / 3 / 4;
}

dl.info {
  display: grid;
  grid-template-columns: max-content auto;
  grid-column-gap: 10px;
  grid-row-gap: 18px;
}

ul.info {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 18px;
  list-style: none;
  padding: 0;
}

ul.info li {
  font-size: 16px;
  font-weight: 600;
}

.info dt {
  grid-column-start: 1;
  font-size: 14px;
  font-weight: 400;
}

.info dd {
  grid-column-start: 2;
  text-align: right;
  font-size: 16px;
  font-weight: 600;
  align-self: end;
}

.pool-nav {
  margin-left: var(--border-radius);
}

.pool-nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pool-nav ul li {
  padding: 0;
  margin: 0;
}

.pool-nav ul li a {
  display: block;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
}

.pool-nav ul li a.active {
  color: #1976d2;
  border-bottom: 2px solid #1976d2;
}

.chart {
  max-width: 350px;
  max-height: 350px;
  position: relative;
  flex-grow: 1;
}

.chart-small {
  max-width: 31px;
  max-height: 31px;
}

.chart svg {
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.chart-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.chart-text dl {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chart-text dt {
  display: block;
  font-weight: 600;
  font-size: 14px;
  color: #737373;
}

.chart-text dd {
  display: block;
  font-weight: 600;
  font-size: 32px;
  color: #fff;
}

dl.current-reward {
  margin-top: 43px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-reward dt {
  font-size: 16px;
  font-weight: 600;
  padding: 0 38px;
}

.current-reward dd {
  font-size: 36px;
  font-weight: 600;
}

.current-reward .currency {
  font-size: 15px;
}

.add-stake {
  display: flex;
  flex-direction: column;
  padding: 35px 77px;
  margin: 90px 0 0;
}

.spinner-center {
  align-self: center;
}

.add-stake h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 60px;
  align-self: center;
}

.field {
  margin: 20px 0;
}

.field .error {
  color: #ff0000;
  font-size: 14px;
  font-weight: 600;
}

input[type="number"],
input[type="text"] {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: var(--border-radius);
  height: 68px;
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  outline: none;
  padding: 0 0 0 34px;
  appearance: none;
  -moz-appearance: textfield;
}

input[type="number"]:focus,
input[type="text"]:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.stake-amount {
  margin: 10px 0;
}

.stake-amount .field-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.stake-amount input {
  flex-grow: 1;
  margin: 0 0;
}

.stake-amount label {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  margin: 0 20px;
}

.stake-amount .field-error {
  color: #ca3d3d;
  font-size: 14px;
  font-weight: 600;
  padding: 0px 15px;
  height: 40px;
  display: flex;
  align-items: center;
}

.stake-amount svg {
  width: 41px;
  margin-right: 15px;
}

.lockup-period label {
  font-size: 20px;
  font-weight: 600;
}

.range-track {
  height: 3px;
  margin: 30px 0px 60px;
  background-color: #dfdfdf;
}

.range-mark {
  height: 19px;
  width: 3px;
  background-color: #dfdfdf;
}

.range-mark-label {
  position: absolute;
  top: 30px;
  width: 60px;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  transform: translateX(-50%);
}

.range-thumb {
  height: 26px;
  width: 26px;
  background-color: #36c6d9;
  border-radius: 50%;
}

.summary {
  padding: 30px 0;
  display: grid;
  grid-template-columns: 20% 20% 20% 40%;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
}

.summary dt {
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: 400;
  justify-self: center;
}

.summary dd {
  font-size: 24px;
  font-weight: 600;
  justify-self: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.buttons .button {
  flex: 1;
}

.section.stake-list {
  padding: 0;
}

.section.stake-list .section-heading {
  padding: 18px 32px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.spinner-container {
  width: 100%;
  display: flex;
  margin: 20px 0;
  justify-content: center;
}

.stake-list .stakes {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.stake-list-no-stakes {
  padding: 18px 32px;
  display: flex;
  width: 100%;
}

.stake-list .stake {
  padding: 18px 32px;
  display: flex;
  width: 100%;
}

.stake-list .stake .checked,
.stake-list .stake .unchecked {
  list-style: none;
  padding: 0;
  display: grid;
  flex-grow: 1;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  column-gap: 2em;
  row-gap: 1em;
  grid-auto-flow: column;
  align-self: center;
}

.stake-list .stake .unchecked {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

.stake-list .stake .toogle:has(input:not(:checked)) ~ .checked {
  display: none;
}

.stake-list .stake .toogle:has(input:checked) ~ .unchecked {
  display: none;
}

.stake .progress {
  grid-row: span 3;
  display: flex;
}

.stake .progress .chart {
  max-width: 12em;
}

.stake .title {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 5px;
}

.stake .value {
  font-size: 20px;
  font-weight: 600;
}

.stake .currency {
  font-size: 15px;
}

.checked li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.toogle {
  width: 2em;
  height: 2em;
  display: flex;
  align-self: center;
  padding: 0.5em 0.5em;
  margin-right: 2em;
  cursor: pointer;
}

.toogle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toogle input + svg {
  transform: rotate(90deg);
}

.toogle input:checked + svg {
  transform: rotate(180deg);
}

.unchecked .chart {
  margin-right: 1em;
}

.unchecked li {
  display: flex;
  align-items: center;
}
.dialog-content {
  display: flex;
  flex-direction: column;
}

.dialog-content h2 {
  margin-bottom: 25px;
}

.dialog-content p {
  margin-bottom: 10px;
}

.dialog-content .button-small {
  margin-top: 15px;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
  .home-element {
    max-width: 50%;
  }
  .cta {
    margin-top: 80px;
    font-size: 60px;
  }
  .cta-buttons {
    margin-top: 80px;
  }
  .lens {
    /* display: none; */
  }
  .container,
  .container-narrow {
    width: 100%;
    padding: 0 20px;
    max-width: unset;
  }
  .button {
    width: 100%;
  }
  .pool {
    grid-template-columns: 1fr;
    grid-template-rows: unset;
  }
  .pool-stats {
    grid-area: unset;
  }
  .rewards-balance {
    grid-area: unset;
  }
  .wallet-balance {
    grid-area: unset;
  }
  .stake-list {
    grid-area: unset;
  }

  .stake-list .stake .unchecked {
    grid-template-columns: 1fr auto 1fr;
    gap: 10px;
    height: 50px;
  }

  .stake-list .stake .unchecked .reward {
    text-align: right;
  }

  .unchecked .chart-small {
    margin-right: 0;
  }
  .unchecked .chart-small-text {
    display: none;
  }
  .unchecked .multiplier {
    display: none;
  }

  .stake-list .stake .checked {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    column-gap: 5px;
    row-gap: 15px;
  }

  .stake-list .stake .checked .item-button {
    grid-column: span 2;
  }

  .stake .value {
    font-size: 15px;
  }

  .stake .progress {
    grid-row-start: 5;
    grid-column: span 2;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .toogle {
    margin-right: 10px;
    padding: 0;
    width: 20px;
    height: 50px;
    margin-right: 10px;
    flex-shrink: 0;
    align-self: flex-start;
  }

  .add-stake {
    padding: 35px 30px;
    width: 100%;
  }

  .add-stake .summary {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-auto-flow: column;
    padding: 0;
    margin-left: -30px;
    margin-right: -30px;
  }

  .summary dd {
    text-align: center;
    margin-bottom: 30px;
  }

  .add-stake .buttons {
    gap: 20px;
  }
  .add-stake .buttons .button {
    flex-grow: 1;
  }

  .stake-amount input {
    width: 100%;
    padding-left: 15px;
    padding-right: 130px;
  }

  .stake-amount label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0 15px 0 5px;
  }
}
