node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types
/generated-types

# solidity-coverage files
/coverage
/coverage.json
/gas.json

# generated bindings
/bindings

# editor files
.vscode