.history-drawer {
    width: 40%!important;
    min-width: 400px!important;
    border-left: 1px solid rgba(255, 255, 255, 0.16)!important;
    padding: 2.4rem!important;
    background: #0d1f16!important;

    /* background-image: url("src/main.jpg")!important;
    background-position: right!important;
    background-repeat: no-repeat!important;
    -webkit-background-size: cover!important;
    -moz-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important; */
}

.model-selector {
    align-items: center;
    justify-content: space-between;
    margin: 1.6rem 0 1.6rem;
    background-color: #fff;
    padding: 6px 1.6rem 6px 1.6rem;
    border-radius: 0.375rem;
    color: white;
    max-width: 720px;
  
    background: rgba(255,255,255, 0.04);
    border-width: 1px;
    border: 1px solid rgba(255, 255, 255, 0.04);
    color: white;
    width: 350px;
}

.model-selector__info span {
    font-size: 12px;
    display: block;
}

.change-modal {
    height: 60px!important;
    width: 140px!important;
}

.model-selector__icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}