WALLET_PRIVATE_KEY= # Private Key from your Wallet as Consumer or Provider (needed for the proxy-router to sign transactions)
#ETH_NODE_ADDRESS= # Recommend using your own private ETH Node Address for better performance (via Alchemy or Infura)
#ETH_NODE_USE_SUBSCRIPTIONS= # true if using default http 

ETH_NODE_CHAIN_ID=421614 # Testnet Chain ID
DIAMOND_CONTRACT_ADDRESS=0x10777866547c53cbd69b02c5c76369d7e24e7b10 # as of 10/30/2024
MOR_TOKEN_ADDRESS=0x34a285a1b1c166420df5b6630132542923b5b27e # as of 10/30/2024

WEB_ADDRESS=0.0.0.0:8082 # Change to your desired port that your Proxy-router API (Swagger should be listening on)
WEB_PUBLIC_URL=localhost:8082 # Change to your desired port should match WEB_ADDRESS port number
OPENAI_BASE_URL=http://localhost:8080/v1 # Change to your OpenAI API port for local model

#PROVIDER_ALLOW_LIST= #Comma separated ProviderID list eg: 0x2736848ba8BfC010C845A3c95B567c5979E4C997,0x32c086D54b7CfddBEBF68390B0BA2fd597142E1C
PROXY_ADDRESS=0.0.0.0:3333
PROXY_STORAGE_PATH=.\data\
PROXY_STORE_CHAT_CONTEXT=true

#MODELS_CONFIG_PATH= #optional for providers serving multiple sessions ... requires valid models-config.json
ENVIRONMENT=development
ETH_NODE_LEGACY_TX=false
EXPLORER_API_URL="https://api-sepolia.arbiscan.io/api"
LOG_COLOR=true
LOG_FOLDER_PATH=
LOG_LEVEL_APP=info
LOG_LEVEL_CONNECTION=info
LOG_LEVEL_PROXY=info
LOG_LEVEL_SCHEDULER=info
OPENAI_API_KEY= #optional

SYS_ENABLE=false
SYS_LOCAL_PORT_RANGE=1024 65535
SYS_NET_DEV_MAX_BACKLOG=100000
SYS_RLIMIT_HARD=524288
SYS_RLIMIT_SOFT=524288
SYS_SOMAXCONN=100000
SYS_TCP_MAX_SYN_BACKLOG=100000