# Minimalist ENV File to enable the proxy-router to run, defaults to MAINNET
# Contract and Token current as of 1/15/2025
# Full ENV details can be found in /docs/proxy-router.full.env 
# Includes both TestNet and MainNet values, uncomment sections as desired

WALLET_PRIVATE_KEY=

# MAINNET VALUES - BASE Mainnet (only MAINNET or TESTNET section should be uncommented)
DIAMOND_CONTRACT_ADDRESS=0x6aBE1d282f72B474E54527D93b979A4f64d3030a
MOR_TOKEN_ADDRESS=0x7431ada8a591c955a994a21710752ef9b882b8e3
BLOCKSCOUT_API_URL="https://base.blockscout.com/api/v2"
ETH_NODE_CHAIN_ID=8453
ENVIRONMENT=production

# TESTNET VALUES - BASE Sepolia
# DIAMOND_CONTRACT_ADDRESS=0x6e4d0B775E3C3b02683A6F277Ac80240C4aFF930
# MOR_TOKEN_ADDRESS=0x5C80Ddd187054E1E4aBBfFCD750498e81d34FfA3
# BLOCKSCOUT_API_URL="https://base-sepolia.blockscout.com/api/v2"
# ETH_NODE_CHAIN_ID=84532
# ENVIRONMENT=development

# COMMON
AUTH_CONFIG_FILE_PATH=./proxy.conf
COOKIE_FILE_PATH=./.cookie
PROXY_ADDRESS=0.0.0.0:3333
WEB_ADDRESS=0.0.0.0:8082
WEB_PUBLIC_URL=http://localhost:8082
MODELS_CONFIG_PATH=
RATING_CONFIG_PATH=
ETH_NODE_USE_SUBSCRIPTIONS=false
ETH_NODE_ADDRESS=
ETH_NODE_LEGACY_TX=false
PROXY_STORE_CHAT_CONTEXT=true
PROXY_STORAGE_PATH=./data/
LOG_COLOR=true

# OPTIONAL 
# Log Levels: error, warn, info, debug 
LOG_LEVEL_APP=warn
LOG_LEVEL_TCP=warn
LOG_LEVEL_ETH_RPC=warn
LOG_LEVEL_STORAGE=warn