# logs
logs
.env
*.log


# binary folders
dist
bin 
proxy-router
data*

models-config.json
rating-config.json
proxy.conf
.cookie

#Badger DB
*.vlog
*.mem
DISCARD
KEYREGISTRY
LOCK
MANIFEST
chats/

# proxy auth
proxy.conf
.cookie