BYPASS_AUTH=false
CHAIN_ID=421614
DEBUG=false
DEFAULT_SELLER_CURRENCY=BTC
DEV_TOOLS=true
DIAMOND_ADDRESS=0x8e19288d908b2d9f8d7c539c74c899808ac3de45
DISPLAY_NAME=Sepolia Arbitrum
EXPLORER_URL=https://sepolia.arbiscan.io/tx/{{hash}}
IGNORE_DEBUG_LOGS=false
PROXY_WEB_DEFAULT_PORT=8082
SENTRY_DSN=
SYMBOL_ETH=saETH
SYMBOL_LMR=saMOR
TOKEN_ADDRESS=0xc1664f994fd3991f98ae944bc16b9aed673ef5fd
TRACKING_ID=