# This file is used to set the environment variables for the cicd workflow
# Contract and Token current as of 11/5/2024

# MAINNET VALUES - BASE Mainnet
CHAIN_ID=8453
COOKIE_FILE_PATH=./.cookie
DIAMOND_ADDRESS=0x6aBE1d282f72B474E54527D93b979A4f64d3030a
CHAIN_NAME=Base
EXPLORER_URL=https://basescan.org/tx/{{hash}}
TOKEN_ADDRESS=0x7431ada8a591c955a994a21710752ef9b882b8e3
DEV_TOOLS=false
SYMBOL_ETH=ETH # remove it
SYMBOL_COIN=MOR # remove it

# TESTNET VALUES
#CHAIN_ID=84532
#DIAMOND_ADDRESS=0x6e4d0B775E3C3b02683A6F277Ac80240C4aFF930
#DISPLAY_NAME=Base Sepolia
#EXPLORER_URL=https://sepolia.basescan.org/tx/{{hash}}
#TOKEN_ADDRESS=0x5C80Ddd187054E1E4aBBfFCD750498e81d34FfA3
#DEV_TOOLS=true
#SYMBOL_ETH=ETH
#SYMBOL_COIN=MOR

# COMMON
BYPASS_AUTH=false
DEBUG=false
DEFAULT_SELLER_CURRENCY=BTC #remove it
IGNORE_DEBUG_LOGS=false #remove it
PROXY_WEB_DEFAULT_PORT=8082
SENTRY_DSN=
TRACKING_ID=
FAILOVER_ENABLED=
